

.navbar-brand {
    background-color: white;
}

.offcanvas-body {
    background-color:#EAFBA1;
    font-family: "Poppins" sans-serif;
    font-weight: 100;
    
}



p {
font-size: 24px;
    font-weight: lighter;
 
}

.indexh1 {
    font-family: "Poppins" sans-serif;
    font-size: 36px;
}

.indexh2 {
    font-family: "Poppins" sans-serif;
    font-size: 20px;
}

.img-fluid {
    margin-left: 5%;
    margin-top: 5%;
}
.hero {
   text-align: center;
   padding: 150px 0px;

}

.container {
    margin-top:100px;
            justify-content: center;
            /* centers items horizontally */
}

.div1 {
 
    font-family: "Poppins" sans-serif;
    border:#B2A1FB solid 1px;
    text-align: center;
    border-radius: 5px;
    background-color: #EAFBA1;
}

.email {
text-decoration: none;
display: inline-block;


font-family: "Poppins" sans-serif;
color:#B2A1FB;
border:#EAFBA1 solid 1px;
background-color: #EAFBA1;
border-radius: 5%;

}


.div2 {
    font-family: "Poppins" sans-serif;
    font-size: 20px;
    font-style: normal;

    border: #B2A1FB solid 1px;
    border-radius: 5px;
   
   
    background-color: #EAFBA1;
}

.div1 h1 {
    font-family: "Poppins" sans-serif;
        font-size: 30px;
        font-style: bold;
        margin-bottom: 5%;
        
}
.div1 p {
    font-family: "Poppins" sans-serif;
        font-size: 20px;
        font-weight: lighter;
     
       
}
.div2 p {
    font-size: 20px;
        font-weight: lighter;
}

.div3 p {
   text-align: center;
    font-weight: bold;
 text-decoration-line: overline;
 text-decoration-color: #B2A1FB;

}

.div3 img {
    max-width: 50%;
    
        margin: auto;
        display: block;
}

@media (max-width: 960px) {
    footer {
        padding: 0 auto;
    }
}


.btn-branding {
background: #EAFBA1;
border-radius: 5px;
text-transform: uppercase;
color: #B2A1FB;
font-family: "Poppins" serif;
font-size: 18px;
padding: 12px 20px;
text-decoration: none;
font-weight: 200;
    border-style: ridge;
        border-color: #B2A1FB;
}

.btn-branding-3 {
   
    background: #EAFBA1;
    text-transform: uppercase;
        border-radius: 5px;
        color: #B2A1FB;
        font-family: "Poppins" serif;
            font-size: 18px;
            padding: 12px 53px;
            text-decoration: none;
            font-weight: 200;
            border-style: ridge;
            border-color: #B2A1FB ;
            
}

footer {
text-align: center;
    color: #B2A1FB;
    background-color: #EAFBA1;
    
}

footer h3 {
    font-size: 14px;
    text-decoration: underline;
}

footer li {
    list-style: none;
}

footer ul {
    padding: 0;
}

footer a {
    color: #B2A1FB;
    text-decoration: none;
    font-size: 12px;

}