
.navbar-brand {
    background-color: white;
}

.offcanvas-body {
    background-color:#EAFBA1;
    font-family: "Poor Story";
    
}


p {
    font-family: "Poppins" serif;
    font-weight: bold;
    font-size: 20px;
 
}

.indexh1 {
    font-family: "Poor Story";
    font-size: 36px;
}

.indexh2 {
    font-family: "Poor Story";
    font-size: 24px;
}

.img-fluid {
    margin-left: 5%;
    margin-top: 5%;
}
.hero {
   text-align: center;
   padding: 150px 0px;

}

.container {
    margin-top:100px;
            justify-content: center;
            /* centers items horizontally */
}

.div1 {
 
    font-family: "Poor Story";
    border:#B2A1FB solid 1px;
  
    text-align: center;
    border-radius: 5px;
    background-color: #EAFBA1;
}



.div2 {

    font-family: "Poppins" sans-serif;
    font-size: 10px;
    font-style: normal;

    border: #B2A1FB solid 1px;
    border-radius: 5px;
   
   
    background-color: #EAFBA1;
}

.div2 p {
    font-size: 20px;
        font-weight: lighter;
}


.btn-branding {
background: #EAFBA1;
border-radius: 5px;
color: #B2A1FB;
font-family: "Poppins" serif;
font-size: 18px;
padding: 12px 20px;
text-decoration: none;
font-weight: 200;
    border-style: ridge;
        border-color: #B2A1FB;
}

.btn-branding-3 {
   
    background: #EAFBA1;
        border-radius: 5px;
        color: #B2A1FB;
        font-family: "Poppins" serif;
            font-size: 18px;
            padding: 12px 53px;
            text-decoration: none;
            font-weight: 200;
            border-style: ridge;
            border-color: #B2A1FB ;
            
}