.container-fluid {
    background-color: white;
  
}
.navbar-brand {
    background-color: white;
}

.offcanvas-body {
    background-color:#EAFBA1;
    font-family: "Poor Story";
    
}


p {
    font-family: "Poppins" serif;
    font-weight: bold;
    font-size: 20px;
 
}

h1 {
    font-family: "Poor Story";
    font-size: 36px;
}

h2 {
    font-family: "Poor Story";
    font-size: 24px;
}

.img-fluid {
    margin-left: 5%;
    margin-top: 5%;
}
.hero {
   text-align: center;
   padding: 140px 20px;
}

.container {
    margin-top: 10%;
    background-color: #EAFBA1;
    color:#B2A1FB
    
}






.btn-branding {
background: #EAFBA1;
border-radius: 5px;
color: #B2A1FB;
font-family: "Poppins" serif;
font-size: 18px;
padding: 12px 20px;
text-decoration: none;
font-weight: 200;
    border-style: ridge;
        border-color: #B2A1FB;
}

.btn-branding-3 {
   
    background: #EAFBA1;
        border-radius: 5px;
        color: #B2A1FB;
        font-family: "Poppins" serif;
            font-size: 18px;
            padding: 12px 53px;
            text-decoration: none;
            font-weight: 200;
            border-style: ridge;
            border-color: #B2A1FB ;
            
}